* {
  margin: 0;
  padding: 0;
}

header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 143px;
}

.menu li {
  display: inline;
  padding: 12px;
  color: #344563;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.logo h1 {
  color: #6070ff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.background {
  background-color: #fff;
  background-image: url("Header\ bg@2x.png");
  background-repeat: no-repeat;
  background-size: 1397px 721px;
  height: 846px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 280px 260px;
  gap: 14px;
}

.headline h1 {
  width: 920px;
  height: 122px;
  color: #172b4d;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.headline p {
  width: 920px;
  height: 98px;
  color: #344563;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.headline h5 {
  width: 920px;
  height: 98px;
  color: #7f8cff;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

figure {
  width: 920px;
  display: flex;
  margin-top: -70px;
  gap: 12px;
}

figure img {
  width: 25px;
  height: 20px;
}
