* {
  margin: 0;
  padding: 0;
}

header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 143px;
}

.menu li {
  display: inline;
  padding: 12px;
  color: #344563;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.logo h1 {
  color: #6070ff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.background {
  background-color: #fff;
  background-image: url("Header\ bg@2x.png");
  background-repeat: no-repeat;
  background-size: 1397px 721px;
  height: 846px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 280px 260px;
  gap: 14px;
}

.headline h1 {
  width: 920px;
  height: 122px;
  color: #172b4d;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.headline p {
  width: 920px;
  height: 98px;
  color: #344563;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.headline h5 {
  width: 920px;
  height: 98px;
  color: #7f8cff;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

figure {
  width: 920px;
  display: flex;
  margin-top: -70px;
  gap: 12px;
}

figure img {
  width: 25px;
  height: 20px;
}

.WorkSection {
  background-color: rgb(245, 248, 248);
  height: 2694px;
  padding-top: 142px;
}

.WorkStation {
  display: grid;
  justify-items: center;
  grid-template-columns: auto 1156px auto;
  grid-template-rows: auto auto auto;
}

.work1 {
  margin-bottom: 142px;
  width: 1156px;
  height: 472px;
  border-radius: 24px;
  padding: 24px;
  border: 1px solid #dfe1e6;
  background: white;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.block {
  width: 544px;
  height: 445px;
  display: inline-flex;
  flex-direction: column;
  margin-left: 22px;
  padding: 24px 24px;
  gap: 24px;
}

.work1 h1 {
  width: 526px;
  height: 46px;
  color: #172b4d;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #bbb;
  border-radius: 50%;
}

.points {
  display: flex;
  flex-shrink: 0;
  gap: 12px;
}

.points h5 {
  color: #344563;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 10px;
}

button h6 {
  color: #396df2;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.points h6 {
  color: #7a869a;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 10px;
}

.work1 p {
  color: #344563;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.work1 aside {
  display: inline;
  background-color: rgba(235, 235, 255, 1);
  border-radius: 8px;
}

.one {
  width: 33px;
  height: 16px;
  padding: 4px 12px;
  align-items: center;
  color: #6070ff;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.two {
  margin-left: 8px;
  width: 25px;
  height: 16px;
  padding: 4px 12px;
  align-items: center;
  color: #6070ff;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 12px;
}

.three {
  margin-left: 8px;
  width: 68px;
  height: 16px;
  padding: 4px 12px;
  align-items: center;
  color: #6070ff;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 12px;
}

.Pbutton {
  display: flex;
  width: 496px;
  height: 153px;
  padding: 16px 370px 89px 0;
  align-items: center;
}

button {
  color: #6070ff;
  width: 126px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background-color: white;
  cursor: pointer;
}

.work2 {
  flex-direction: row-reverse;
}

.AboutMyself {
  width: 1440px;
  height: 668px;
  display: flex;
  flex-direction: row;
}

.block1 {
  display: flex;
  flex-direction: column;
  width: 447px;
  height: 311px;
  margin-left: 143px;
  margin-top: 166px;
  margin-bottom: 191px;
  gap: 12px;
}

.AboutMyself h1 {
  color: #172b4d;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.AboutMyself p {
  color: #344563;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.AboutMyself h5 {
  color: #7f8cff;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.AboutMyself button {
  color: #6070ff;
  width: 162px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background-color: white;
  cursor: pointer;
}

.AboutMyself figure {
  width: 920px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.languageMenu {
  display: inline-flex;
  justify-content: center;
}

.Languages {
  width: 684px;
  height: 288px;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 166px;
  margin-left: 24px;
  gap: 12px;
}

.Languages1 {
  display: flex;
  width: 684px;
  height: 72px;
  align-items: center;
  border-bottom: 2px solid rgba(223, 225, 230, 1);
  width: 327px;
}

.Languages1 h1 {
  width: 684px;
  padding: 16px 26px 16px 12px;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.Languages h1 {
  width: 582px;
  height: 24px;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.down {
  padding: 8px;
  border: solid rgba(94, 108, 132, 1);
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(45deg);
}

ol {
  height: 120px;
  width: 390px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  cursor: pointer;
  margin-right: 250px;
}

.up {
  padding: 8px;
  border: solid rgba(94, 108, 132, 1);
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(-45deg);
}

ol div img {
  border: 1px solid white;
  border-radius: 48px;
}

ol div {
  display: flex;
  flex-direction: column;
  height: 98px;
  width: 88px;
  background-color: rgb(245, 245, 250);
  padding: 12px 12px 20px 12px;
  border-radius: 8px;
}

ol div p {
  padding-top: 20px;
  color: #253858;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.bottomBorder{
  border-bottom: 2px solid rgba(223, 225, 230, 1);
}
